# Obtaining Your Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

You just got hired by Lego! Your first project is going to be to develop a pricing algorithm to help set a target price for new lego sets that are released to market. To do this, you're first going to need to start mining the company database in order to collect the information you need to develop a model.

Start by investigating the database stored in lego.db and joining the tables into a unified dataset!

> **Hint:** use this sql statement to preview the tables in an unknown database:
```sql
SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;
```

In [2]:
# Your code here
import sqlite3
import pandas as pd

#create a connection
con = sqlite3.connect('lego.db')
#create a cursor
cur = con.cursor()
# select lego db
cur.execute("""SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;""""").fetchall()

[('product_details',),
 ('product_info',),
 ('product_pricing',),
 ('product_reviews',)]

In [3]:
#select some data from product_details
cur.execute("""SELECT * FROM product_details;""")
df_prod_details = pd.DataFrame(cur.fetchall())
df_prod_details.columns = [i[0] for i in cur.description]
print(df_prod_details.shape)
df_prod_details.head()

(744, 4)

   prod_id prod_desc prod_long_desc theme_name
0      630      blah       blahblah    Classic
1     2304      blah       blahblah     DUPLO®
2     7280      blah       blahblah       City
3     7281      blah       blahblah       City
4     7499      blah       blahblah       City

In [5]:
df_prod_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 4 columns):
prod_id           744 non-null int64
prod_desc         744 non-null object
prod_long_desc    744 non-null object
theme_name        744 non-null object
dtypes: int64(1), object(3)
memory usage: 23.3+ KB

In [4]:
#select some data from product_info
cur.execute("""SELECT * FROM product_info;""")
df_prod_info = pd.DataFrame(cur.fetchall())
df_prod_info.columns = [i[0] for i in cur.description]
print(df_prod_info.shape)
df_prod_info.head()

(744, 4)

   prod_id  ages  piece_count                         set_name
0      630    4+            1                  Brick Separator
1     2304  1½-5            1     LEGO® DUPLO® Green Baseplate
2     7280  5-12            2      Straight & Crossroad Plates
3     7281  5-12            2  T-Junction & Curved Road Plates
4     7499  5-12           24     Flexible and Straight Tracks

In [6]:
df_prod_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 4 columns):
prod_id        744 non-null int64
ages           744 non-null object
piece_count    744 non-null int64
set_name       744 non-null object
dtypes: int64(2), object(2)
memory usage: 23.3+ KB

In [7]:
#select some data from product_pricing
cur.execute("""SELECT * FROM product_pricing;""")
df_prod_pricing = pd.DataFrame(cur.fetchall())
df_prod_pricing.columns = [i[0] for i in cur.description]
print(df_prod_pricing.shape)
df_prod_pricing.head()

(10870, 3)

   prod_id country list_price
0    75823      US      29.99
1    75822      US      19.99
2    75821      US      12.99
3    21030      US      99.99
4    21035      US      79.99

In [8]:
df_prod_pricing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10870 entries, 0 to 10869
Data columns (total 3 columns):
prod_id       10870 non-null int64
country       10870 non-null object
list_price    10870 non-null object
dtypes: int64(1), object(2)
memory usage: 254.8+ KB

In [9]:
#select some data from product_reviews
cur.execute("""SELECT * FROM product_reviews;""")
df_prod_reviews = pd.DataFrame(cur.fetchall())
df_prod_reviews.columns = [i[0] for i in cur.description]
print(df_prod_reviews.shape)
df_prod_reviews.head()

(744, 6)

,prod_id,num_reviews,play_star_rating,review_difficulty,star_rating,val_star_rating
0,630,180.0,4.0,Very Easy,4.8,4.6
1,2304,15.0,4.4,Easy,4.0,3.3
2,7280,85.0,4.1,Very Easy,3.5,2.3
3,7281,40.0,4.1,Very Easy,3.9,2.8
4,7499,89.0,2.9,Easy,2.5,2.2

In [10]:
df_prod_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 6 columns):
prod_id              744 non-null int64
num_reviews          655 non-null float64
play_star_rating     648 non-null float64
review_difficulty    744 non-null object
star_rating          655 non-null float64
val_star_rating      647 non-null float64
dtypes: float64(4), int64(1), object(1)
memory usage: 35.0+ KB

In [13]:
#merge all four tables together
merged_lego = pd.merge(pd.merge(pd.merge(df_prod_details, df_prod_info, on='prod_id'), df_prod_pricing, on='prod_id'), df_prod_reviews, on='prod_id')

In [14]:
merged_lego.head()

,prod_id,prod_desc,prod_long_desc,theme_name,ages,piece_count,set_name,country,list_price,num_reviews,play_star_rating,review_difficulty,star_rating,val_star_rating
0,630,blah,blahblah,Classic,4+,1,Brick Separator,US,2.49,180.0,4.0,Very Easy,4.8,4.6
1,630,blah,blahblah,Classic,4+,1,Brick Separator,AU,2.2724,180.0,4.0,Very Easy,4.8,4.6
2,630,blah,blahblah,Classic,4+,1,Brick Separator,AT,3.0378000000000003,180.0,4.0,Very Easy,4.8,4.6
3,630,blah,blahblah,Classic,4+,1,Brick Separator,BE,3.0378000000000003,180.0,4.0,Very Easy,4.8,4.6
4,630,blah,blahblah,Classic,4+,1,Brick Separator,CA,2.3322000000000003,180.0,4.0,Very Easy,4.8,4.6

In [15]:
merged_lego.shape

(10870, 14)

In [16]:
merged_lego.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10870 entries, 0 to 10869
Data columns (total 14 columns):
prod_id              10870 non-null int64
prod_desc            10870 non-null object
prod_long_desc       10870 non-null object
theme_name           10870 non-null object
ages                 10870 non-null object
piece_count          10870 non-null int64
set_name             10870 non-null object
country              10870 non-null object
list_price           10870 non-null object
num_reviews          9449 non-null float64
play_star_rating     9321 non-null float64
review_difficulty    10870 non-null object
star_rating          9449 non-null float64
val_star_rating      9301 non-null float64
dtypes: float64(4), int64(2), object(8)
memory usage: 1.2+ MB

In [17]:
merged_lego.to_csv('merged_lego_dataset.csv', index=False)

## Summary
Nice work! You're working more and more independently through the workflow and ensuring data integrity!